doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/compenents-rounded.css')
    link(rel='stylesheet', href='/stylesheets/plugins.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  body    
    block content
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery.slimscroll.min.js')
    script(type='text/javascript').
      $(function(){$('.slimScrollDiv').slimScroll({height: '320px'});});