
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/compenents-rounded.css')
link(rel='stylesheet', href='/stylesheets/plugins.css')
link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
block content
  link(rel='stylesheet', href='/stylesheets/sublime.css')
  body(style="background-image: url(images/6891.png);background-repeat:no-repeat;background-attachment:fixed;background-position:20%; opacity:0.9;")
    div.center-wrapper
      div.center-content
        div.row.no-m
          div.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
            section.panel.bg-white.no-b
              ul.switcher-dash-action
                li.active
                  a.selected Sign in
                li
                  a(href="/signup") New account
              div.p15
                form(role="form" action="index.html").alertrow
                  input(type="text" placeholder="Username" autofocus).form-control.input-lg.mb25.loginname
                  input(type="password" placeholder="Password").form-control.input-lg.mb25.loginpass
                  div.show
                    div.pull-right
                  button.btn.btn-primary.btn-lg.btn-block(type="submit" ).loginme Sign in
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/login.js')  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  